@model IEnumerable<Makaani.Models.Finishes>;
@{
     Layout = "_LayoutSeller";
}
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-12">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Insert Product</h4>
                  <p class="mb-0">Insert Your Product Information</p>
                </div>
                <div class="card-body">
                   
                  <form  asp-action="InsertProducts" method="post">
                      <input type="number" name="productId" value="" hidden readonly />
                    <div class="col-6 input-group input-group-outline mb-3">
                     
                      <input type="text" pattern="[0-9]+" name="area" class="form-control" placeholder="Area" >
                    </div>
                     <div class="col-6 input-group input-group-outline mb-3">
                     
                      <input type="text" pattern="[0-9]+" name="bathes" placeholder="Bath Rooms" class="form-control" >
                    </div>
                     <div class="col-6 input-group input-group-outline mb-3" pl>
                     
                      <input type="text" pattern="[0-9]+" name="bedroom" placeholder="Bed Rooms" class="form-control" >
                    </div>
                     <div class="col-6 input-group input-group-outline mb-3">
                     
                      <input type="text" pattern="[0-9]+" name="living" placeholder="Living Rooms" class="form-control" >
                    </div>
                     <div class="col-6 input-group input-group-outline mb-3">
                     
                      <input type="text" pattern="[0-9]+" name="ludary" placeholder="Lundary" class="form-control" >
                    </div>

                     <div class="col-6 input-group input-group-outline mb-3">
                      
                      <input type="text" pattern="[0-9]+" name="grage" placeholder="Garage" class="form-control" >
                    </div>
                    

                   <div class="col-6 input-group input-group-outline mb-3">
                     
                      <input type="text" pattern="[0-9]+" name="kitchen" placeholder="kitchen" class="form-control" >
                    </div>
                    
                                        

                   <div class="col-6 input-group input-group-outline mb-3">
                    
                      <input type="text" pattern="[0-9]+" name="store" placeholder="store" class="form-control" >
                    </div>

                                        

                  @* <div class="col-6 input-group input-group-outline mb-3">
                      <label class="form-label">floor</label>
                      <input type="text" pattern="[0-9]+" name="floor" class="form-control" >
                    </div>*@
                            
                    
                   <div class="col-6 input-group input-group-outline mb-3">
                      
                      <select class="form-control" name="isBalcon">
                          <option value="false">is Have Balcon</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                     </select>
                    </div>
                     <div class="col-6 input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <select class="form-control" name="isGarden">
                          <option value="false">is Have Garden</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                     </select>
                    </div>

                    <div class="col-6 input-group input-group-outline mb-3">
                     
                      <select class="form-control" name="isElvator">
                          <option value="false">is Have Elvator</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                     </select>
                    </div>
                    <div class="col-6 input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <select class="form-control" name="swimbool">
                           <option value="false">is Have Swim bool</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                     </select>
                    </div>
                      <div class="col-6 input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <select class="form-control" name="manyfloor">
                          <option value="false">is Have many floor</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                     </select>
                    </div>
                   <div class="col-6 input-group input-group-outline mb-3">
                     
                      <input type="text" pattern="[0-9]+" name="floorsum" placeholder="floorsum" class="form-control" >
                    </div>
                    
                    <div class="col-6 input-group input-group-outline mb-3">
                     
                      <input type="text" pattern="[0-9]+" name="floor" placeholder="In Which Floor" class="form-control" >
                    </div>
                      <div class="col-6 input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <select class="form-control" name="finishiesId">
                          <option value="">Select Finishes</option>
                          @foreach (var item in Model)
                         {
                                <option value="@item.FinishesId">@item.Name</option>
                         }
                       
                     </select>
                    </div>

                    <div class="col-6 input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <select class="form-control" name="furniture">
                          <option value="false">is Havefurniture</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                     </select>
                    </div>


                    <div class="text-center">
                      <button type="submit" class="btn btn-lg text-white text-center  bg-gradient-success btn-lg w-100 mt-4 mb-0">Save Product Information</button>
                    </div>
                  </form>


               
               
              </div>
            </div>
            </div>
 </div>