
@{
}
     <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="~/MakaniAssets/img/about.jpg">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">Who Are We ?</h1>
                        <p class="mb-4">We are an intermediary platform that helps users to display real estate and residential properties for sale or rent and enables the buyer to find what he is looking for in the easiest way possible. Through our platform, we offer the following services : </p>
                        <p><i class="fa fa-check text-primary me-3"></i>Provide Detailed Information About Each Estate on Platform</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Allow Customer To Send Direct Pay Offer For Seller</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Allow Seller To Show His Estate Through 360Image or VR Videos</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" asp-action="Estate">Browse Estate</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

