@model IEnumerable<Makaani.Models.Category>
@{
}
  <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Estate Category</h1>
                    <p>This Is The Available Estate Category In Makani</p>
                </div>
                
                    <div class="row g-4">
                @foreach (var item in Model)
               {
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" asp-action="SearchForEstateFromDashboard" asp-route-categotyId="@item.CategoryId">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="~/MakaniAssets/img/icon-luxury.png" alt="Icon">
                                </div>
                                <h6>@item.Name</h6>
                                <span>@item.Description</span>
                            </div>
                        </a>
                    </div>
               
               }
                </div>
            </div>
        </div>
        <!-- Category End -->