@{
     Layout = null;
}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/loginassets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/loginassets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/loginassets/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="~/loginassets/css/style.css">

    <title>Login #9</title>
  </head>
  <body>
  
 <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3>Sign In to <strong>Makaani</strong></h3>
                  <p class="mb-4"></p>
                </div>
                <form asp-action="Login" method="post">
                  <div class="form-group first">
                    <label for="username">Email</label>
                    <input type="text" name="accountUser" class="form-control" >

                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" name="Password" class="form-control">
                    
                  </div>
                  


                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
                  
                  <button type="reset"  class="btn btn-pill text-white btn-block btn-primary">
                      <a asp-action="Index" class="bckBtn"> BackToHome  </a>
                        
                  </button>

                
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="~/loginassets/js/jquery-3.3.1.min.js"></script>
    <script src="~/loginassets/js/popper.min.js"></script>
    <script src="~/loginassets/js/bootstrap.min.js"></script>
    <script src="~/loginassets/js/main.js"></script>
    </body>
    </html>