@{
	
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>form-v1 by Colorlib</title>

	<!-- Mobile Specific Metas -->
@*	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/registerassets/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/registerassets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Main Style Css -->
  *@
     <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
       <link rel="stylesheet" href="~/css/rego.css"/>
</head>
<body>

	<section class="h-100 h-custom">
		<form asp-action="Register" method="post">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
				
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #00B98E;">General Infomation</h3>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" required name="first" id="form3Examplev2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">First name</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" required id="form3Examplev3" name="second" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Last name</label>
                      </div>

                    </div>
                  </div>
				  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="number" maxlength="10" required name="Phone" id="form3Examplev4" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">Phone Number</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="date" required name="BirthDate" id="form3Examplev4" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">Birth Date</label>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                      <h3 class="fw-normal mb-5">Authntication Details</h3>





                      <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                              <input type="email" required name="Email" id="form3Examplea6" class="form-control form-control-lg" />
                              <label class="form-label" for="form3Examplea6">Email</label>
                          </div>
                      </div>


                      <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                              <input type="password" required name="Password" id="form3Examplea2" class="form-control form-control-lg" />
                              <label class="form-label" for="form3Examplea2">Password</label>
                          </div>
                      </div>







                      <button type="submit" class="btn btn-light btn-lg"
                              data-mdb-ripple-color="dark">
                          Register
                      </button>
					  <br />
					  <hr />
					  <a asp-action="Login" style="color:white;">
						  If You have Account So Sign In Now
					  </a>

                  </div>
              </div>
			 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   </form>
</section>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
@*	<div class="page-content" style="background-color:#38d39f;">
		<div class="form-v1-content">
			<div class="wizard-form">
		        <form class="form-register" asp-action="Register" method="post">
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			            <h2>
			            	<p class="step-icon" style="background-color:#55a9a1;"><span>01</span></p>
			            	<span class="step-text" >Peronal Infomation</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<div class="wizard-header" >
									<h3 class="heading">Peronal Infomation</h3>
									<p>Please enter your infomation and proceed to the next step so we can build your accounts.  </p>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>First Name</legend>
											<input type="text" class="form-control" id="first-name" name="first" placeholder="First Name" required>
										</fieldset>
									</div>
									<div class="form-holder">
										<fieldset>
											<legend>Last Name</legend>
											<input type="text" class="form-control" id="last-name" name="second" placeholder="Last Name" required>
										</fieldset>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<fieldset>
											<legend>Your Email</legend>
											<input type="text" name="Email" id="your_email" class="form-control" pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}" placeholder="example@email.com" required>
										</fieldset>
									</div>
								</div>
					           <div class="form-row">
									<div class="form-holder form-holder-2">
										<fieldset>
											<legend>Password</legend>
											<input type="password" name="Password"  class="form-control"  required>
										</fieldset>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<fieldset>
											<legend>Phone Number</legend>
											<input type="text" class="form-control" id="phone" name="Phone" placeholder="1 888-999-7777" required>
										</fieldset>
									</div>
								</div>
								<div class="form-row form-row-date">
									<div class="form-holder form-holder-2">
										<label class="special-label">Birth Date:</label>
										<input type="date" class="form-control" id="phone" name="BirthDate" required>
										
								    </div>
							    </div>

							</div>
			            </section>
			          
			         </div> 
					
		        </form>
			</div>
		</div>
	</div>
	<script src="~/registerassets/js/jquery-3.3.1.min.js"></script>
	<script src="~/registerassets/js/jquery.steps.js"></script>
	<script src="~/registerassets/js/main.js"></script>*@
</body>
</html>
